<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sobre</h1>
        <p>Site criado por Higor Machado, utilizado a linguagem de programação</p><p>Python, HTML, CSS e JavaScript com o framework Flask
            Melhorias ou sugestões, entrar em <a href="https://wa.me/5513978090383?text=Ol%C3%A1%20Higor,%20gostaria%20de%20conversar%20sobre%20seu%20projeto.">Contato</a>.</p>
            <p>Acesse meu <a href="https://github.com/HigorFatec">Portifólio</a></p>
    </div>
</body>
</html>
