@charset "UTF-8";


/* Adicione esta regra para o container do logo */
div#container-logo {
    text-align: center;
    margin-bottom: 50px; /* Espaçamento entre o logo e o formulário */
    margin-top: 100px;
}

/* Adicione esta regra para a imagem do logo */
div#container-logo img {
    width: 250px; /* Defina a largura conforme necessário */
    height: auto; /* Mantém a proporção original */
}

body {
    background-image: url('a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;

}


div#container-login{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    opacity: 80%;
    font-size: 14px;
}

input#nome{
    height: 25px;
    background-color:#095bb2b5;
    color: white;
}

label[for="nome"]{
    font-size: 16px;
}

label[for="senha"]{
    font-size: 16px;
}

input#senha{
    height: 25px;
    background-color: #095bb2b5;
    color: white;
}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}


label{
    font-size: 20px;
    color: rgb(2, 35, 63);
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;


}

input {
    
    border-radius: 20px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px black;
    border: 2px black ;
    
}


input:focus {
    color: black;
    background-color: rgb(217, 227, 255);

}


button#btn-entrar{
    border-radius: 0%;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
}

button#btn-entrar:hover{
    transition: .5s;
    opacity: 50%;
    background-color:red;
    color: blue;
    
}


h1{
    color: #08558b;
    background-position: center;
}


div#alerta{
    background: yellow;
    color: rgb(194, 0, 0);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
