body {
    background-image: url('a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario {
    text-align: center;
}

button {
    margin-top: 20px;
}