<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Dados</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dados.css')}}">

</head>
<body>
    <h1>Dados</h1>
    <form id="formulario" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th>FILIAL RODOPAR</th>
                    <th>CNPJ FILIAL</th>
                    <th>COD. RODOPAR</th>
                    <th>DOCUMENTO</th>
                    <th>DOCUMENTO RODOPAR</th>
                    <th>SERIE</th>
                    <th>PARCELA</th>
                    <th>LINHA DIGITAVEL</th>
                    <th>LINHA DIG. RODOPAR</th>
                    <!-- Adicione mais colunas conforme necessário -->
                    <th>LANCADO RODOPAR</th>
                    <th>SELECIONAR</th> 
                </tr>
            </thead>
            <tbody>
            {% for row in data %}
                {% if row['LINHA DIG. RODOPAR'] is none %}
                    <tr>
                        <td>{{ row['FILIAL RODOPAR'] }}</td>
                        <td>{{ row['CNPJ FILIAL'] }}</td>
                        <td>{{ row['COD. RODOPAR'] }}</td>
                        <td>{{ row['DOCUMENTO']}}</td>
                        <td>{{row['DOCUMENTO RODOPAR']}}</td>
                        <td>{{row['SERIE']}}</td>
                        <td>{{row['PARCELA']}}</td>
                        <td>{{row['LINHA DIGITAVEL']}}</td>
                        <td>{{row['LINHA DIG. RODOPAR']}}</td>
                        <td>{{row['LANCADO RODOPAR']}}</td>
                        <td>{{row['PARCELA']}}</td>
                        <!-- Adicione mais colunas conforme necessário -->
                        <td><input type="checkbox" name="selecionar" value="{{ row['CNPJ FILIAL'] }}-{{ row['COD. RODOPAR'] }}-{{ row['DOCUMENTO RODOPAR'] }}-{{ row['SERIE'] }}-{{ row['PARCELA'] }}"></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <button type="button" onclick="executarComandoSelecionado()">Executar Comando nos Selecionados</button>
    </form>

    <script>
       function executarComandoSelecionado() {
    const formulario = document.getElementById('formulario');
    const checkboxes = formulario.querySelectorAll('input[name="selecionar"]:checked');
    
    checkboxes.forEach(checkbox => {
        const valores = checkbox.value.split('-');
        const cnpjFilial = valores[1];
        const codRodopar = valores[2];
        const docRodopar = valores[3];
        const serie = valores[4];
        const parcela = valores[5];

        console.log(parcela);

        // Enviar uma solicitação para o servidor para executar o comando em Python
        fetch('/executar_comando', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',  // Alterado para application/json
            },
            body: JSON.stringify({
                cnpj_filial: cnpjFilial,
                cod_rodopar: codRodopar,
                doc_rodopar: docRodopar,
                serie: serie,
                parcela: parcela
            })
        })
        .then(response => response.json())
        .then(data => alert(data.message))  // Exibir a resposta do servidor
        .catch(error => console.error('Erro ao executar comando:', error));
    });
}
    </script>
</body>
</html>